<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <style> -->
    <link rel="stylesheet" href="userlibrary.css">     
    <!-- </style> -->
   
    <meta charset="UTF-8">
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查询书目</title>
</head>

<body>
    <div >
        <ol id="navbar">
            <li id="home" class="page">首页</li>
            <li ><form action="" id="search-f">
                <input type="text" name="" id="search" placeholder="搜索" value="">
            
            </form></li>
            <a href="/logout"> <li id="logout" class="page">退出</li></a>
        </ol>
    </div>
    <div class="full">

        <div id="top">
            <div>

                <header>
                    <span>查询</span>书目
                </header>
            </div>
        </div>

       

        <div id="display">
            <table id="tb">
                <tr>

                    <th class="th">书名</th>
                    <th class="th">作者</th>
                    <th class="th">ISBN</th>
                    <th class="th">书籍地址</th>
                    
                </tr>
                <% if(datas!=null) { %>
                    <% datas.forEach(function(item){ %>
                        <tr>
                            <td class="td"><%= item.title%></td>
                            <td class="td"><%= item.author %></td>
                            <td class="td"><%= item.isbn%></td>
                            <td class="td"><%= item.link %></td>
                            <!-- <td class="td"><a id="downld" href="<%= item.link %>">下载</a></td>     -->
                            
                        </tr>
                    <% }) %>    
                <% } %>        
               
                


            </table>
        </div>
    </div>
    <script src="userlibrary.js"></script>
    
</body>

</html>